.registrationScreen .imageUpload {
  width: 100px;
  height: 100px;
  border: none;
}
.registrationScreen .imageUpload .imagePreview {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 100px;
  height: 100px;
  border: solid 1px black;
  margin-bottom: 5px;
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFF;
  z-index: 10;
}
.registrationScreen .imageUpload .btnImgUpload {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  width: 80px;
  height: 45px;
  padding-top: 35px;
  border-radius: 50px;
  margin-bottom: 5px;
  text-align: center;
  z-index: 20;
}
