#photos {
	header {
		h1 {
			color: $wit;
			font-family: retrosansregular;
			text-align: center;
			font-size: 2em;
			margin: 15px 0 20px 0;
		}
	}
	section {
			ul {
			display: block;
			width: 240px;
			margin: 0 auto 0 auto;
			max-height: 290px;
			overflow: scroll;
			li {
				float: left;
				margin: 10px 10px 10px 10px;
				list-style: none;
				img {
					width: 40px;
					height: 40px;
					@include border-radius(20px 20px 20px 20px);
				}
			}
		}
	}
}
