<header>
	<h1>Accept Invite</h1>
</header>

<input type="text" name="location" class="location" placeholder="Event Location"/>
<input type="hidden" name="latitude" class="latitude" value="51.182845"/>
<input type="hidden" name="longitude" class="longitude" value="3.581908"/>
<button name="accept invite" class="accept-invite-btn">
	Accept Invite
</button>