<section>
	<header>
		<h1>bands</h1>
	</header>
	<ul>
		<li>
			<span class="band-holder">
				<img src="images/band_foto/placeholder.png" alt="bandnaam"/>
				<p>bandnaam</p>
				<p>vandaag!</p>
			</span>
		</li>
		<li>
			<span class="band-holder">
				<img src="images/band_foto/placeholder.png" alt="bandnaam"/>
				<p>bandnaam</p>
				<p>morgen</p>
			</span>
		</li>
		<li>
			<span class="band-holder">
				<img src="images/band_foto/placeholder.png" alt="bandnaam"/>
				<p>bandnaam</p>
				<p>overmorgen</p>
			</span>
		</li>
		<li>
			<span class="add-band-holder">
				<button class="btn" type="button">toevoegen +</button> 
			</span>
		</li>
	</ul>
</section>