<article id="score">
	<section>
		<header>
			<h1>score: evil invaders</h1>
		</header>
		<span>
			<span class="handjeuhs">
				 <span class="handjeuh">

				 </span>
			</span>
			<span class="slider">
				<span class="slider-fill">
					
				</span>
			</span>
			<p>
				criteria
			</p>
			<p class="score">
				0
			</p>
		</span>
		<span>
			<span class="handjeuhs">
				 <span class="handjeuh">

				 </span>
			</span>
			<span class="slider">
				<span class="slider-fill">
					
				</span>
			</span>
			<p>
				criteria
			</p>
			<p class="score">
				0
			</p>
		</span>
		<span>
			<span class="handjeuhs">
				 <span class="handjeuh">

				 </span>
			</span>
			<span class="slider">
				<span class="slider-fill">
					
				</span>
			</span>
			<p>
				criteria
			</p>
			<p class="score">
				0
			</p>
		</span>
		<button class="btn" type="button">toekennen</button> 
	</section>
</article>